@import 'fonts';
@import 'modules';

*, *:before, *:after { box-sizing: border-box; }

body > svg:first-of-type { display: none; }

.svg--css3 { fill: white; }

body {

	background-color: gray;
	font-family: 'droid_sansregular';

	@media (max-width: 600px) {
		background-color: blue;
	}

	p {
		color: white;
		@include anime(color);

		&:hover { color: black; }

		@media (max-width: 600px) {
			font-size: 30px;
		}
	}
}


.terminal {
	width: 600px;
	height: auto;
}

[class^='one'] { color: blue; }
.one--red { color: red; }
.one--green { color: green; }

.two {
	color: blue;
	&--red { color: red; }
	&--green { color: green; }
}
